<!DOCTYPE html>
<html>
<head>
  <title>TechNet</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<nav>
		<ul class="nav nav-tabs">
			<% if logged_in?%>
			<li><%= link_to "Logout" , logout_path%></li>
			<li><%= link_to current_user.username, user_path(current_user)%></li>
			<%else%>
			<li><%= link_to "Login" , login_path%></li>
			<li><%= link_to "Sign Up!", new_user_path%></li>
			<%end%>
			<li><%= link_to  "Home" , root_path %></li>
		</ul>
	</nav>

<%= yield %>
</div>
</body>
</html>
